<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			    http://www.springframework.org/schema/beans/spring-beans.xsd
			    http://www.springframework.org/schema/context
			    http://www.springframework.org/schema/context/spring-context.xsd
			    http://www.springframework.org/schema/aop
			    http://www.springframework.org/schema/aop/spring-aop.xsd
			    http://www.springframework.org/schema/tx
			    http://www.springframework.org/schema/tx/spring-tx.xsd
			    http://www.springframework.org/schema/mvc
			    http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--组件扫描-->
    <context:component-scan base-package="com.wsfzsc.controller"></context:component-scan>

    <!--处理器映射器，处理器适配器-->
    <mvc:annotation-driven></mvc:annotation-driven>

    <!--视图解析器-->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!--释放静态资源(默认处理)-->
    <mvc:default-servlet-handler/>

    <!--拦截器的配置-->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--拦截路径-->
            <mvc:mapping path="/background/*"/>
            <mvc:mapping path="/admin/SuperAdmin"/>
            <mvc:mapping path="/admin/OrdinaryAdmin"/>
            <!--注册拦截器对象-->
            <bean class="com.wsfzsc.interceptor.AdminLoginInter"></bean>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/Cart/selectAll"/>
            <mvc:mapping path="/Cart/insertOne"/>
            <mvc:mapping path="/Cart/insertOneCurrent"/>
            <mvc:mapping path="/user/UserInfo"/>
            <mvc:mapping path="/user/updateUserInfo"/>
            <mvc:mapping path="/user/uploadTitle"/>
            <mvc:mapping path="/user/updatePwd"/>
            <mvc:mapping path="/address/AddAddress"/>
            <mvc:mapping path="/address/showAddress"/>
            <mvc:mapping path="/address/JumpAndSaveAddress"/>
            <mvc:mapping path="/address/DeleteAddress"/>


            <bean class="com.wsfzsc.interceptor.UserLoginInter"></bean>
        </mvc:interceptor>
    </mvc:interceptors>
    <bean id="multipartResolver"  class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding">
            <value>UTF-8</value>
        </property>
        <property name="maxUploadSize">
            <value>32505856</value><!-- 上传文件大小限制为31M，31*1024*1024 -->
        </property>
        <property name="maxInMemorySize">
            <value>4096</value>
        </property>
    </bean>
</beans>